/* Resetting default styles for better control */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links {
  display: none;
}

h1 h2 h3 a {
    
    margin-bottom: .5rem;
    /* adds space below headings */
    font-weight: bolder;
    /* optional: reduces the boldness if preferred */
    color: withe;
    font-size: 18px;

  }

html{
  height: -web-fill-available;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', 'Arial', sans-serif;
  /* Specify fallback font */
  font-weight: bold;
  line-height: 1.6;
  /* this increases the space between lines */
  color: #333;
  /* a darker shade for better readability */
  background-color: #f4f4f4;
  /* a light shade that does not strain the eyes */
  color: aliceblue;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.profile {
  max-height: 200px;
  max-width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: white;
  /* ensures links are noticeable */
  text-decoration: none;
  /* removes underline from links */
  font-size: 1,5em;
  margin-left: 2em;
  text-align: center;

}

a:hover,
a:focus {
  text-decoration: underline;
  /* adds underline on hover/focus for better indication */
}

a:hover,
a:focus {
  text-decoration: underline;
  /* adds underline on hover/focus for better indication */
}


footer {
  text-align: center;
  margin: 7px;
  color: white;
  vertical-align: top;
  background-color: transparent;
  /* or simply omit this line */


}

.background-image {
  background-image: url('./asets/test.jpg');
  /* Ensure the path is correct */
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  display: flex;
}
#bttab {
  border:solid black ;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .links {
    text-align: center;
    display: inline-block;
    

  }

  nav ul li {
    padding: 0;  
    margin:0;
    text-align: center;
    color: white;
    display: inline-block;
    flex-direction: row;
    /* Ensure this color is readable on your background */
    font-size: 14px;
    position: relative;
    margin: 0 auto;
    padding: 2px;
    
  }

  a {
    color: white;
    /* ensures links are noticeable */
    text-decoration: none;
    /* removes underline from links */
    font-size: 1.5em;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
   

  }

  a:hover,
  a:focus {
    text-decoration: underline;
    /* adds underline on hover/focus for better indication */
  }
  

}

@media screen and (min-width: 992px) {
  .links {
    text-align: center;
    display: inline-block;
    

  }

  nav ul li {
    padding-top: 5rem;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    display: inline-block;
    flex-direction: row;
    /* Ensure this color is readable on your background */
    font-size: 14px;
    
  }

  a {
    color: white;
    /* ensures links are noticeable */
    text-decoration: none;
    /* removes underline from links */
    font-size: 3em;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1em;
    background-color: transparent !important;
    border: none !important;

  }

  a:hover,
  a:focus {
    text-decoration: underline;
    /* adds underline on hover/focus for better indication */
  }
  .skill-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  

}
