 /* Add some basic styling */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 150px; /* Make images responsive */
    height: auto;
  }
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  table {
    width: 100%;
  }
  .skill-row {
    display: flex; /* Improved layout for skills */
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .cos {
    text-transform: animate__flipInX;
  }
  body {
    background-image: url('asets/background.jpg'); /* Corrected path */
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
  }